*{
    margin:0px;
    padding: 0px;
}

body {
    color: lightcyan;
}
h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    background-color: aqua
    background-image: url("space.33");
}